name: aarch64 Wheels

on:
  workflow_dispatch:
  push:
    tags:
    - 'v*'

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@master

    - uses: actions/setup-python@v4
      name: Install Python
      with:
        python-version: '3.9'

    - uses: docker/setup-qemu-action@v1
      name: Set up QEMU (emulator for arm64)

    - name: Build wheels
      run: |
        mkdir interfaces/daqp-python/csrc
        cp -r src interfaces/daqp-python/csrc/src
        cp -r include interfaces/daqp-python/csrc/include
        cp -r codegen interfaces/daqp-python/csrc/codegen
        cp CMakeLists.txt interfaces/daqp-python/csrc/CMakeLists.txt
        cp LICENSE interfaces/daqp-python/LICENSE

        cd interfaces/daqp-python
        python -m pip install --upgrade pip
        python -m pip install --upgrade build
        python -m pip install cibuildwheel
        python -m cibuildwheel --output-dir wheelhouse
      env:
        CIBW_ARCHS_LINUX: "aarch64"

    - name: Release to pypi
      if: github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags'))
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN}}
      run: |
        cd interfaces/daqp-python
        python -m pip install --upgrade twine
        twine upload wheelhouse/*
    - name: Upload artifacts to github
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: interfaces/daqp-python/wheelhouse
